body {
    background-color: #f8f9fa; /* Màu nền nhẹ */
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    background-color: #198adb !important; /* Màu xanh nhạt dễ chịu cho sidebar */
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
}

.sidebar .btn {
    text-align: left;
}

.btn-outline-primary,
.btn-outline-success,
.btn-outline-warning,
.btn-outline-danger {
    border-width: 2px;
}

.rounded-circle {
    border: 3px solid #0d6efd;
}

h2 {
    color: #0d6efd;
}

.text-muted {
    font-size: 0.9rem;
}

.card {
    border-radius: 16px;
    background-color: #ffffff;
}
.table-container {
    max-height: 200px;
    overflow-y: auto;
}
.table-container thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}