            <div class="d-grid gap-3">
                <a href="~/Profile/Index" class="btn btn-primary btn-lg">Hồ sơ cá nhân</a>
                <a href="~/History/Index" class="btn btn-primary btn-lg">Lịch sử Checkin</a>
                <a href="~/Booking/Index" class="btn btn-primary btn-lg">Đặt chỗ Mượn Thiết Bị</a>
                <a href="~/Violation/Index" class="btn btn-primary btn-lg">Thông tin vi phạm</a>
                <a href="~/Login/Logout" class="btn btn-danger btn-lg">
                    <i class="bi bi-box-arrow-right"></i> Đăng xuất
                </a>
            </div> 